.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/close-btn.svg");
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  /* height: 436px; */
  width: 496px;
}

.modal__label {
  width: 440px;
  /* height: 52px; */
  padding-bottom: 20px;
  font-weight: bold;
}

.modal__legend {
    font-weight: bold;
    padding-bottom: 11px;
}

.modal__radio-input {
  /* display: flex; */
  /* justify-content: space-between; */
  cursor: pointer;
  margin: 0;
  padding: 0;
  line-height: 1;
  accent-color: black;
}

.modal__radio-input:checked + span  {
  opacity: 100%;
  font-weight: bold;
}

.modal__label_type_radio:has(input:checked) {
    opacity: 100%;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__label_type_radio {
    font-weight: normal;
    padding-bottom: 11px;
    opacity: 50%;
    /* padding: 15px; */
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
}

.modal__submit {
  border-radius: 4px;
  width: 124px;
  height: 36px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #000000;
  opacity: 30%;
}
