.sidebar__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar__username {
  height: 25px;
  margin-left: 16px;
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.sidebar__edit {
  display: flex;
  height: 25px;
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background: none;
  border: none;
  padding: 0;
  text-align: start;
}

.sidebar__logout {
  display: flex;
  height: 25px;
  margin-top: 8px;
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background: none;
  border: none;
  padding: 0;
  text-align: start;
}

.sidebar__options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
